* {
  margin: 0;
  padding: 0;
}

:root {
  --weather-girls-blues: #00028f;
  --eighties-eyeshadow: #37bcff; 
  --fahrenheit-red: #ff0003;
  --celsius-orange: #ff9a34; 
  --snow-day-white: #fdfffd;
  --izora-violet: #d57aff;
  --martha-plum: #9310eb;
  --jabara-green: #08a810;
  --shaffer-shades: #110e0c;
  --tall-blonde: #ffde4b;
  --dark-lean: #4E3524;
}

body {
    background-color: var(--eighties-eyeshadow);
}

footer {
    width: 100%;
    padding: .7em;
    background-color: var(--weather-girls-blues);
    color: var(--eighties-eyeshadow);
    font-family: 'Cookie', sans-serif;
    font-size: 2em;
    text-shadow: 0 0 7px var(--martha-plum), 0 0 9px var(--izora-violet);
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    color: violet;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-family: 'Cookie', sans-serif;
    font-weight: 600;
}

i:hover {
    color: var(--celsius-orange);
    transition: all 0.3s ease-in-out;
}

main {
    background-color: var(--eighties-eyeshadow);
}

p {
    font-family: 'Cookie', cursive;
}

span {
    font-size: 1.5em;
    font-weight: 800;
}

ul li {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    line-height: 2em;
    list-style: none;
}

uv-index {

}

.breaking {
    background-color: var(--fahrenheit-red);
}

.btn {
    width: 200px;
    margin: 1em;
    background-color: var(--eighties-eyeshadow);
    color: var(--weather-girls-blues);
    font-family: 'Cookie', cursive;
    font-size: 2.2em;
}

.btn:hover {
    background-color: var(--martha-plum);
    color: var(--eighties-eyeshadow);
    text-shadow: 0 0 8px var(--martha-plum), 0 0 10px var(--izora-violet);
}

.card {
    visibility: hidden;
}

.city-form {
    margin: 2em auto 2em auto;
    padding: 1em;
    width: 450px;
    height: 380px;
    background-color: var(--weather-girls-blues);
    color: var(--eighties-eyeshadow);
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    border-radius: 10px;
}

.jumbotron {
    color: var(--shaffer-shades);
    background: url("../assets/images/weather_girls.jpeg");
    background-size: cover;
    height: 400px;
    text-align: center;
}

.form-instruct {
    color: var(--eighties-eyeshadow);
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
}

.news {
    background-color: var(--fahrenheit-red);
}

.news-scroll h2 {
    color: var(--weather-girls-blues);
    font-family: 'Mukta', sans-serif;
    font-style: italic;
    text-decoration: none;
}

.uv-index {
    background-color: var(--jabara-green);
    padding: .15em;
    border-radius: 2px;
    color: var(--snow-day-white);
}

#form-header {
    color: var(--snow-day-white);
    text-shadow: 0 0 8px var(--martha-plum), 0 0 10px var(--izora-violet);
}